
h1 {
    color:white;
}

ul {
    list-style: none;
}

li {
    color: black;
    margin: 30px;
}

table, th, td {
    border: 1px solid black;
}

li::before {
    content: "• ";
    color: gold;
}

li span {
    color: white;
    font-size: 14px;
}

body {
    background: #777;
}

input {
    color:black;
}

.contact {
    color:black;
    font-weight: bold;
}

textarea {
    color:black;
}

a {
    color:gold;
}

.ypsi-nav-tab {
    display: table;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: solid black;
    cursor: pointer;
}

.title-text {
    color:gold;
}

.ypsi-tab-text {
    vertical-align: center;
    display: table-cell;
}

.body-text {
    color:white;
    font-size: 14px;
}

.body-heading {
    color: gold;
    font-weight: bold;
    font-size: 14px;
}
