<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" media="screen" href="static/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="static/css/bootstrap-grid.css">
    <link rel="stylesheet" media="screen" href="static/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="static/css/ypsiSite.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="static/js/index.js"></script>

	<title>Ypsilanti Piano</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
<table>
    <tr>
        <th></th>
        <th>Good last week</th>
        <th>Fixed this week</th>
    </tr>
    {% for attribute in attributes %}
    <tr>
        <td>{{ attribute.name }} </td>
        <td><input type="checkbox"/></td>
        <td><input type="checkbox"/></td>
    </tr>
    {% endfor %}
</table>
        </div>
        </div>
    </div>
</body>
</html>